.role {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.role label{
    font-size: 13px;
    font-weight: 400;
}
.select select {
    appearance: none;
    width: 100%;
    border: none;
    outline: none;
}

.select {
    display: flex;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    align-items: center;
    border: 1px solid gainsboro;
}
.btn button{
    background-color: #F58220;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 13px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}