.background{
    background-color: black;
    position: relative;
        padding: 50px 50px 140px 50px;
}
.eclipse {
}
.eclipse img{
    position: absolute;
    right: 0;
    /* height: 100px; */
}
.features{
    display: flex;
    flex-direction: column;
    padding: 120px 0px 40px 0px;
    gap: 10px;
    text-align: center;
align-items: center;
}
.features span{
    color: #F58220;
    font-size: 16px;
    font-weight:400;
}
.features p{
    font-size: 32px;
    font-weight: 400;
    color: white;
    letter-spacing: -2%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    color: white;
    gap: 60px;
}
.lottie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 378px; */
    gap: 20px;
    text-align: center;
}
.lottie p{
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
}
.lottie span{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.swiperslide{
    display: flex;
    padding: 0px 100px 0px 100px;
    gap: 100px;
}
.swiperslide img{
    width: 45%;
}
.contentslides h2{
   color: #0D2D53;
   line-height: 60px;
   font-size: 42px;
   font-weight: 500;
}
.contentslides p{
    font-size: 20px;
    color: #344054;
    font-weight: 400;
    line-height: 36px;
}
.contentslides{
    padding: 100px 0px 0px 0px ;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contentslides span{
    color: #F58220;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
}
.phonepos{
    background-color: #ECEEF1;
    padding: 50px;
}


@media screen and (min-width:2061px) {
    .phonepos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiperslide {
            display: flex;
            padding: 0px 0px 0px 0px;
            gap: 10px;
            justify-content: center;
        }
   
    .contentslides h2 {
            line-height: 60px;
            font-size: 57px;
        }
    
        .contentslides p {
            font-size: 35px;
            color: #344054;
            font-weight: 400;
            line-height: 46px;
        }
        .contentslides{
            width: 40%;
        }
    
     
    
        .contentslides span {
            color: #F58220;
            line-height: 50px;
            font-size: 35px;
            font-weight: 400;
        }
    .features span{
        font-size: 38px;
    }
    .features p{
        font-size:38px ;
    }
    .features{
        gap: 30px;
    }
        .lottie {
            
            /* width: 378px; */
            gap: 20px;
        }
    
        .lottie p {
            font-size: 34px;
            line-height: 38px;
        }
    
        .lottie span {
            font-size: 25px;
            line-height: 36px;
            font-weight: 400;
        }
}
@media screen and (max-width:1108px) {
    .grid{
            grid-template-columns: repeat(2, 1fr);
            }
}
@media screen and (max-width:1026px) {
    .contentslides h2{
        font-size: 20px;
        line-height: 20px;
    }
    .contentslides p{
        font-size: 17px;
    }
    .contentslides{
            display: flex;
            flex-direction: column;
            gap:20px;
    }
  .swiperslide img{
    display: none;
  }
}
@media screen and (max-width:703px) {
    .grid{
            grid-template-columns: repeat(1, 1fr);
            }
            .swiperslide{
                    padding: 0px 30px 0px 30px;
            }
}