.Solutions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 80px;
}
.Solutions p{
    color: #F58220;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}
.Solutions h3{
    font-weight: 500;
    font-size: 35px;
    color: #1D2939;
    letter-spacing: -2%;
}
.Solutions span{
    color: #475467;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
}
.payattitude p{
    color: #1D2939;
    font-size: 26px;
    font-weight: 500;
    line-height: 38px;
}
.payattitude{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 0px 20px 40px;
    border-left: 5px solid #F2F4F7;
    width: 100%;
    transition: 0.5s;
}
.hover button{
    z-index: -1;
    background-color: transparent;
    width: 30%;
    margin-top: 10px;
    border-radius: 5px;
    position: absolute;
    text-align: start;
    padding: 6px;
    bottom: 5%;
    cursor: pointer;
    /* border:  1px solid #F58220; */
    border: none;
    color: #F58220;
}
.hover{
    display: flex;
    transition: 0.2s linear;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: relative;
}
.hover:hover{
    padding-bottom: 40px;
}
.hover span{
    
}
.hover:hover button{
    cursor: pointer;
    bottom: 0%;
    z-index: 10;
    transition: 0.5s linear;
}
.payattitude:hover{
    transition: 0.5s;
    border-left: 5px solid #F58220;
}
.payattitude span{
        color: #7b8492;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
}
.container{
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
            /* border-left: 5px solid #F2F4F7; */
            /* padding: 20px; */
}
.top{
    display: flex;
    justify-content: space-between;
    /* gap: 70px; */
    align-items: center;
        padding: 30px 158px 20px 40px;
}
.top img{
    width: 48%;
    height: 48%;
}
.ussd{
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content:center;
    gap: 40px;
    /* padding:20px 80px 130px 80px; */
    padding: 20px 360px 130px 360px;
}
.shadow{
    padding:30px ;
    box-shadow: 0px 0px 10px 10px #043F2E0A;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 20px;
}
.shadow span{
    background-color: #6075F4;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.shadow img{
    width: 100%;
        height: 100%;
}
.providerimg{
    padding:-60px;
}
.providerimg img{
    height: 100%;
    width: 100%;
}
.shadow p{
    color: #777c79;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
.shadow h3{
    color: #0D2D53;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}




@media screen and (min-width:2061px) {
    .shadow p {
            color: #777c79;
            font-size: 30px;
            font-weight: 400;
            line-height: 46px;
        }
        .shadow h3{
                font-size: 29px;
                line-height: 30px;
        }
     
        .shadow{
            gap: 20px;
        }
        .shadow span{
            font-size: 29px;
            width: 44px;
                height: 44px;
        }
    .Solutions p {
            font-size: 34px;
          
        }
    
        .Solutions h3 {
            font-size: 55px;
         
        }
    
        .Solutions span {
             line-height: 55px;
            font-size: 40px;
        }
        .top{
            justify-content: space-around;
                    padding: 30px 0px 20px 0px;
        }
        .top img{
            width: 30%;
                height: 30%;
        }
}
@media screen and (min-width:1779px) {
.payattitude p {
        color: #1D2939;
        font-size: 36px;
        line-height: 38px;
    }

    .payattitude {
     
        gap: 25px;
        padding: 0px 0px 60px 40px;
    }

    .payattitude span {
        color: #7b8492;
        font-size: 22px;
        line-height: 30px;
    }
}
@media screen and (min-width:2500px) {
.payattitude p {
        color: #1D2939;
        font-size: 46px;
        line-height: 38px;
    }

    .payattitude {
     
        gap: 25px;
        padding: 0px 0px 60px 40px;
    }

    .payattitude span {
        color: #7b8492;
        font-size: 32px;
        line-height: 60px;
    }
    .top{
        gap: 60px;
    }
}





@media screen and (max-width:1406px) {
    .providerimg img{
        width: 308px;
    }
}
@media screen and (max-width:1316px) {
  .top{
            padding: 30px 60px 20px 40px;
  }
}
@media screen and (max-width:1198px) {
    .ussd{
        display: grid;
            grid-template-columns: repeat(2, auto);
                padding: 20px 360px 130px 360px;
    }
}
@media screen and (max-width:1151px) {
    .top img {
        width: 38%;
    }
}
@media screen and (max-width:996px) {
    .top{
        flex-direction: column;
        gap: 40px;
    }
    .top img{
        width:60%;
    }
}
@media screen and (max-width:792px) {
    .ussd{
        display: grid;
            grid-template-columns: repeat(2, auto);
                padding: 20px 100px 130px 60px;
    }
 
     
}
@media screen and (max-width:792px) {
    .ussd{
        display: grid;
            grid-template-columns: repeat(1, auto);
            justify-content: center;
    }
          .providerimg img {
          }
          .shadow{
            padding: 0px 30px 30px 30px;
          }
}
@media screen and (max-width:500px) {
   .top img{
    width: 100%;
   }
}
.ussd {
    padding: 20px 60px 130px 60px;
}

@media screen and (max-width:404px) {
.shadow img {
    width: 100%;
}
   .shadow{
            padding: 0px 30px 30px 30px;
          }
}
@media screen and (max-width:350px) {
   .top img{
    width: 100%;
   }
}