 .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 30px 80px 20px 70px;
     max-width: 2000px;
     /* max-width: 1500px; */
      margin: auto;

 }
 .container img{
   width: 120px;
 }
 .navlink span {
     color: #1D2939;
     display: flex;
     align-items: flex-end;
     gap: 7px;
     transition: 0.5s;
     font-size: 1.1vw;
     cursor: pointer;
     padding-bottom: 10px;
     justify-content: center;
     text-align: center;
 }
 /* .navlink span:hover{
    color: #F58220;
    border-bottom: 2px solid #F58220;
 } */
 .navlink{
    display: flex;
    gap: 48px;
    position: relative;
 }
 .btn button{
    background-color: #F58220;
    border: none;
    padding: 16px
        20px
        16px
        20px;
        border-radius: 8px;
            font-size: 1.1vw;
        color: white;
        /* font-size: 15px; */
        font-weight: 500;
 }

 .navmenu{
   display: none;
 }
 .menubar{
   display: none;
 }
 .submenu{
   position: absolute;
   box-shadow: 0px 0px 20px 0px gray;
   display: flex;
   flex-direction: column;
   gap: 15px;
   border-radius: 5px;
   padding: 15px;
   font-family: 15px;
   background-color: white;
   z-index: 99;
 }
 .submenu p{
      color: black;
      font-size: 1.1vw;
 }
.navmenucontainer{
   display: none;
}
/* @media screen and (max-width:1106) {
   .container {
         padding: 0px 0px 0px 0px;
         display: none;
      }
} */

@media screen and (min-width:2000px) {
   .container{
      padding-top: 80px;
      padding-bottom: 100px;
   }
   .container img{
      width: 8vw;
   }
}

/* @media screen and (min-width:2061px) {
   .navlink span{
      font-size: 32px;
   }
   .btn button{
      font-size: 30px;
   }
   .container{
         padding: 70px 120px 20px 120px;
   }
   .navlink{
      gap: 40px;
   }
   .submenu p{
      font-size: 32px;
   }
   
} */
 @media screen and (max-width:952px) {
   .container{
         padding: 20px;
   }
   .navlink{
      display: none;
   }
   .btn{
      display: none;
   }
   .menubar{
      display: block;
   }
   .navmenu{
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 100px;
   }
       .btn2 button {
          background-color: #F58220;
          border: none;
          width: 142px;
          padding: 16px 20px 16px 20px;
          border-radius: 8px;
          color: white;
          font-size: 15px;
          font-weight: 500;
         }
         .btn2{
          position: absolute;
          top: 360px;
                  z-index: 99;

       }
       .navmenucontainer{
         position: absolute;
         padding: 20px;
         top: 80px;
         z-index: 99999;
         background-color:white;
         height: 100vh;
         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         display: block;
         width: 50%;
       }
       .submenu{
         width: 50%;
       }

 }