.prodbg {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.becomeagent h2 {
    color: #1D2939;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;

}

.becomeagent {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding-right: 60px;
}
.becomeagent p{
    color: #F58220;
    line-height: 70px;
    font-size: 30px;
    font-weight: 400;
}

.becomeagent span {
    color: #475467;
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
}

.becomeagent button {
    background-color: #F58220;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 15px;
    width: 40%;
    line-height: 28px;
    font-weight: 500;
}

.top {
    padding: 28px 0px 0px 0px;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 130px 0px 40px 0px;
}
.center span{
    color: #F58220;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}
.center  h2{
    color: #1D2939;
    font-weight: 500;
    font-size: 27px;
    text-align: center;
    line-break: 44px;
    letter-spacing: -2%;
}
.center p{
    color: #475467;
    line-height: 26px;
    font-size: 17px;
    font-weight: 300;
}
.grid{
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    padding: 0px 0px 70px 0px;
}
.lots{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 50%;
}
.lots p{
    color: #1D2939;
    line-height: 38px;
    font-size: 24px;
    font-weight: 500;
}
.lots span{
    color: #475467;
    line-height: 28px;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}


/* contact */

.contactus{
    display: flex;
    gap: 90px;
    padding: 60px 60px 60px 60px;
    justify-content: center;
}
.contactus img{
    /* width: 50%; */
}
.contacheader{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacheader span{
    color: #F58220;
    letter-spacing: -2%;
    line-height: 35px;
    font-size: 20px;
    font-weight: 500;
}
.contacheader h2{
    color: #1D2939;
    letter-spacing: -2%;
    line-height: 44px;
    font-size: 30px;
    font-weight: 500;
}
.contacheader p{
    color: #475467;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}
.name{
    display: flex;
    justify-content: space-between;
        gap: 20px;
}
.namelabel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.namelabel input{
    width: 17vw;
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    outline: none;
}
.namelabel ::placeholder{
    color: #47546780;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}
.namelabel label{
    color: #1D2939;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
}
.emailabel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emailabel input{
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    outline: none;
}
.emailabel ::placeholder{
    color: #47546780;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}
.emailabel label{
    color: #1D2939;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}
.msglabel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.msglabel input{
    padding: 10px;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    outline: none;
    padding-bottom: 128px;
}
.msglabel ::placeholder{
    color: #47546780;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.msglabel label{
    color: #1D2939;
    line-height: 20px;
    font-size: 15px;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}
.checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkbox p{
    color: #475467;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.checkbox span{
    text-decoration: underline;
    cursor: pointer;
}
.main button{
    background-color: #F58220;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (min-width:2061px) {
    .becomeagent p{
        font-size: 35px;
    }

    .main{
        gap: 20px;
    }
    .namelabel label{
        font-size: 30px;
    }
    .namelabel{
        gap: 20px;
    }
    .namelabel ::placeholder{
        font-size: 30px;
    }
    .namelabel input{
        font-size: 30px;
    }
    .emailabel label{
        font-size: 30px;
    }
    .emailabel{
        gap: 20px;
    }
    .emailabel ::placeholder{
        font-size: 30px;
    }
    .emailabel input{
        font-size: 30px;
    }
    .msglabel label{
        font-size: 30px;
    }
    .msglabel{
        gap: 20px;
    }
    .msglabel ::placeholder{
        font-size: 30px;
    }
    .msglabel input{
        font-size: 30px;
    }
    .msglabel span{
       font-size: 35px;
    }
    .contacheader{
        gap: 10px;
        padding-bottom: 20px;
    }
    .contacheader h2{
       font-size: 35px;
    }
    .contacheader p{
       font-size: 30px;
    }
    .center span{
        font-size: 40px;
    }
    .center h2{
        font-size: 40px;
    }
    .center p{
        font-size: 35px;
    }
    .center{
        gap: 30px;
    }
    .lots p{
      font-size: 30px;
    }
    .lots span{
        font-size: 30px;
        letter-spacing: 2px;
        line-height: 40px;
    }
}
  @media screen and (max-width:1338px) {
  .prodbg{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
}
  @media screen and (max-width:1206px) {
 .contactus{
    gap: 30px;
 }
  @media screen and (max-width:1260px) {
   .name{
    flex-direction: column;
   }
   .prodbg{
    justify-content: center;
   }
   /* .agentt img{
    width: 80%;
    height: 80%;
   } */
   .namelabel input{
    width: 100%;
   }
  }
  @media screen and (max-width:1067px) {
 .contactus img{
    display: none;
 }
  }

  }
  @media screen and (max-width:1081px) {
      .prodbg {
          /* width: 90%;
          height: 40vh; */
      }
      .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }


  }
  @media screen and (max-width:938px) {
    .grid{
        flex-wrap: wrap;
        gap: 30px;
    }
  }
  @media screen and (max-width:806px) {
    .agentt img{
        width: 70%;
        height: 70%;
    }
    .agentt{
        display: flex;
        justify-content: center;
    }
  }
         @media screen and (max-width:730px) {
             /* .prodbg {
                 width: 100%;
                 height: 20vh;
             } */
    
      
             .secfoot h2 {
                 text-align: center;
             }
    

    
             .download img {
                 width: 120px;
             }
         }
                        @media screen and (max-width:601px) {
                         .becomeagent{
                            gap: 0px;
                         }
            
                            .becomeagent h2 {
                                line-height: 65px;
                                font-size: 40px;
                            }
            
                            .becomeagent {
                                padding-top: 0px;
                                padding-right: 0px;
                            }
            
                            .agentt img {
                                width: 100%;
                                height: 100%;
                            }
                        }