.prodbg {
    display: flex;
    padding: 20px 60px 0px 60px;
    justify-content: space-around;
        max-width: 1600px;
            margin: auto;
}

.becomeagent h2 {
    color: #1D2939;
    font-size: 55px;
    font-weight: 500;
    line-height: 74px;

}
.agentt img{
    height: 100%;
    width: 100%;
}

.becomeagent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    height: 100%;
        padding-top: 50px;
    padding-right: 60px;
}

.becomeagent span {
    color: #475467;
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
}

.becomeagent button {
    background-color: #F58220;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 15px;
    width: 40%;
    line-height: 28px;
    font-weight: 500;
}
.prodbg2 {
    background-image: url("../../public/ICON/userguide.svg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 49vh;
}

.top {
    padding: 28px 0px 0px 0px;
}
.frq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0px 50px 0px;
}
.frq h2{
    color: #1D2939;
    line-height: 44px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -2%;
}
.frq span{
    color: #475467;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}
.index {
    padding: 0px 260px 0px 260px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.index span{
    color: #475467;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
}
.search{
    border: 1px solid gainsboro;
    display: flex;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    width: 20vw;
    align-items: center;
}
.search input{
    border: none;
    width: 100%;
}
.search ::placeholder{
    color: #47546780;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content p{
    color: #1D2939;
    font-size: 20px;
    font-weight: 400;
}
.quest{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 0px 120px 0px;
        max-width: 2000px;
            margin: auto;
}
.semifooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #ECEEF1;
    padding: 80px;
}
.semifooter button{
    background-color: #F58220;
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.semifooter p{
    color: #475467;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.semifooter span{
    color: #1D2939;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

@media screen and (min-width:2000px) {

        .top{
            display: flex;
            justify-content: center;
        }
        .becomeagent h2{
            width: 70%;
        }
        .becomeagent{
            gap: 30px;
        }
    .searchicon{
        display: none;
    }
        .becomeagent span {
                font-size: 40px;
            }
      
    .frq h2{
        font-size: 40px;
    }
    .frq{
        gap: 40px;
    }
    .quest{
        display: flex;
        justify-content: center;
    }
    .frq span{
        font-size: 35px;
        line-height: 40px;
    }
    .semifooter span{
        font-size: 35px;
    }
    .semifooter{
        gap: 50px;
    }
    .semifooter button{
        font-size: 30px;
        padding: 20px;
    }
    .semifooter p{
        font-size: 35px;
    }
        .search {
            border: 1px solid gainsboro;
            display: flex;
            gap: 10px;
            border-radius: 5px;
            width: 20vw;
            align-items: center;
        }
        .content p{
            font-size: 40px;
        }
        .index{
            gap: 40px;
        }
        .index span{
            font-size: 35px;
            line-height: 45px;
        }
    
        .search input {
            border: none;
            width: 100%;
            outline: none;
            padding: 10px;
                        font-size: 40px;
        }
    
        .search ::placeholder {
            color: #47546780;
            font-weight: 300;
            line-height: 24px;
            font-size: 40px;
        }
}
  @media screen and (max-width:1338px) {
      /* .prodbg {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 60px;
      } */
  }
  @media screen and (max-width:952px) {
      .prodbg {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 60px;
      }
  }
  @media screen and (max-width:1081px) {
      .prodbg {
          /* width: 90%;
          height: 40vh; */
      }
      .prodbg2 {
          width: 90%;
          height: 40vh;
      }

      .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
          .index {
              padding: 0px 100px 0px 100px;
            
          }
  }
        @media screen and (max-width:806px) {
            .agentt img {
                width: 70%;
                height: 70%;
            }
    
            .agentt {
                display: flex;
                justify-content: center;
            }
        }
   @media screen and (max-width:730px) {
       /* .prodbg {
           width: 100%;
           height: 20vh;
       } */
       .prodbg2 {
           width: 100%;
           height: 20vh;
       }

       .secfoot h2 {
           text-align: center;
       }
       .frq{
        display: none;
       }
       .quest{
        padding-top:60px ;
       }

       .download img {
           width: 120px;
       }
   }
   
   @media screen and (max-width:601px) {
        .index {
                padding: 0px 40px 0px 40px;
        
            }
            .content p{
                font-size: 16px;
            }
                          .prodbg {
                              padding: 20px;
                          }
                                .becomeagent h2 {
                                    line-height: 65px;
                                    font-size: 40px;
                                }
                
                                .becomeagent {
                                    padding-top: 0px;
                                    padding-right: 0px;
                                }
                
                                .agentt img {
                                    width: 100%;
                                    height: 100%;
                                }
   }
   