.prodbg {
    display: flex;
    padding: 60px;
    justify-content: space-around;
}
.agentt img {
    height: 100%;
    width: 100%;
}
.becomeagent h2 {
    color: #1D2939;
    font-size: 55px;
    font-weight: 500;
    line-height: 94px;

}

.becomeagent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    padding-right: 60px;
}

.becomeagent span {
    color: #475467;
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
    width: 70%;
}
.becomeagent button{
    background-color: #F58220;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 12px;
    width: 200px;
    font-weight: 500;
}
.top {
    padding: 28px 0px 0px 0px;
}

.centerdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 60px 20px 60px;
    text-align: center;
}

.centerdiv h2 {
    color: #1D2939;
    line-height: 90px;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: -2%;
}

.centerdiv p {
    color: #475467;
    font-weight: 300;
    line-height: 32px;
    font-size: 18px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}

.liam {
    display: flex;
    align-items: center;
    gap: 10px;
}
.liam img{
    width: 20px;
}

.liam p {
    color: #475467;
    line-height: 28px;
    font-size: 14px;
    font-weight: 300;
}

.building2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0px 0px 0px 50px;
}

.agent span {
    color: #F58220;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}

.agent h2 {
    color: #475467;
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
}

.agent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tablecontent {
    background-color: white;
    margin: 20px;
    border: 1px solid #E2E2E2;
    margin: 0px 70px 120px 70px;
    border-radius: 5px;
}


.gridoutside {
    overflow: hidden;
    overflow: scroll;
    padding-top: 40px;
    height: 70vh;
}

.gridoutside::-webkit-scrollbar-thumb {
    background-color: #0000001a;
}

.gridoutside::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.gridoutside::-webkit-scrollbar-track {
    display: none;
}

.table {
    border-collapse: collapse;
    font-size: 11.5px;
    width: 100%;
;
}

.table th {
    font-weight: 600;
    text-align: left;
    font-size: 12px;
    padding: 15px;
    color: #1D2939;
    background-color: #FFF3E8;
}

/* .table tr:nth-child(odd) {
    background-color: #f6f6f6;
} */

.table td {
    padding: 18px;
    font-size: 12px;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    color: #475467;
    line-height: 20px;
    font-weight: 300;
}

.table span {
    font-size: 14px;
    font-weight: 400;
    color: #667085;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.row span {
    font-size: 13px;
    color: #687182;
}

.pagins {
    display: flex;
    gap: 7px;
    align-items: center;
}

.pagins p {
    font-size: 14px;
    color: #687182;
}

.pagins select {
    width: 48px;
    height: 24px;
    background-color: transparent;
    border: 1px solid gainsboro;
    padding: 2px;
    border-radius: 3px;
}

.arrow {
    display: flex;
    align-items: center;
    gap: 10px;
}

.arrow button {
    width: 28.8px;
    height: 24px;
    font-weight: 400;
    font-size: 11px;
    background-color: transparent;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.secfoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEEF1;
    padding: 80px 0px 80px 0px;
    gap: 20px;
}

.secfoot p {
    color: #F58220;
    line-height: 40px;
    letter-spacing: -2%;
    font-size: 30px;
    font-weight: 500;
}

.secfoot span {
    color: #101828;
    letter-spacing: -2%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}

.secfoot h2 {
    color: #1D2939;
    line-height: 40px;
    font-size: 44px;
    font-weight: 500;
    letter-spacing: -2%;
}


  @media screen and (min-width:2061px) {
.prodbg {
        display: flex;
        padding: 60px;
                padding-top: 100px;
                padding-bottom: 160px;
        justify-content: center;
    }

    .becomeagent h2 {
        color: #1D2939;
        font-size: 55px;
        font-weight: 500;
        line-height: 94px;

    }
    .building2img img{
        height: 100%;
        width: 100%;
    }
    .building2img{
        gap: 120px;
    }

    .becomeagent {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 40%;
        height: 100%;
        padding-right: 60px;
    }

    .becomeagent span {
        color: #475467;
    line-height: 70px;
        font-size: 38px;
        font-weight: 300;
    }

    .becomeagent button {
        background-color: #F58220;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 33px;
        padding: 20px;
        width: 40%;
        line-height: 28px;
        font-weight: 500;
    }
    .centerdiv{
        padding: 80px 0px 80px 0px;
    }
    .building2{
        padding-bottom: 240px;
    }
.agent span {
        line-height: 54px;
        font-size: 35px;
        font-weight: 400;
    }
    .liam{
        gap: 40px;
    }
    .liam p{
        font-size: 35px;
        line-height: 50px;
    }
        .centerdiv h2 {
                font-size: 70px;
                font-weight: 500;
                line-height: 90px;
            }
        
            .centerdiv {
                gap: 40px;
                padding: 60px 60px 80px 60px;
            }
        
            .centerdiv p {
                font-size: 40px;
                line-height: 50px;
                font-weight: 100;
            }
                        .row span {
                            font-size: 35px;
                        }
            
                        .arrow button {
                            font-size: 35px;
                            height: 100%;
                            width: 100%;
                            padding: 10px;
                            border-radius: 10px;
                        }
            
                        .arrow {
                            gap: 30px;
                        }
            
                        .secfoot span {
                            line-height: 30px;
                            font-size: 34px;
                        }
            
                        .table th {
                            font-weight: 400;
                            font-size: 35px;
                            line-height: 40px;
                        }
            
            
            
                        .table td {
                            font-size: 30px;
            
                            line-height: 50px;
                            font-weight: 300;
                        }
            
                        .gridoutside {
            
                            height: 70vh;
                        }
  }
  /* @media screen and (max-width:1338px) {
      .prodbg {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 60px;
      }
  } */
        @media screen and (max-width:1127px) {
            .prodbg {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 60px;
            }
        }
        @media screen and (max-width:806px) {
            .agentt img {
                width: 70%;
                height: 70%;
            }
    
            .agentt {
                display: flex;
                justify-content: center;
            }
        }
                  @media screen and (max-width:699px) {
                    .prodbg {
                            padding: 20px;
                        }
                    }


  @media screen and (max-width:1081px) {


      .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  }

        @media screen and (max-width:730px) {
       
    
            .table {
                width: 150vw;
                overflow: hidden;
                overflow: scroll;
            }
            .becomeagent button{
                width: 100%;
            }
    
            .tablecontent {
    
                margin: 0px 10px 120px 10px;
            }
        }
        @media screen and (max-width:867px) {
            .secfoot h2 {
                    text-align: center;
                    font-size: 30px;
                }
            
                .download img {
                    width: 120px;
                }
            
        }

        @media screen and (max-width:533px) {
            .centerdiv h2{
                line-height: 50px;
            }
            .centerdiv{
                padding: 40px 20px 30px 20px;
                gap: 30px;
            }
        }
                  @media screen and (max-width:469px) {
                   .building2{
                        padding: 0px 0px 0px 20px;
                   }
        
                      .secfoot h2 {
                          font-size: 10px;
                      }
        
                      .becomeagent h2 {
                          line-height: 65px;
                          font-size: 40px;
                      }
        
                      .becomeagent {
                          padding-top: 0px;
                          padding-right: 0px;
                      }
                      .agentt img{
                        width:100%;
                        height: 100%;
                      }
                  }
                  @media screen and (max-width:1095px) {
                      .building2 {
                          flex-direction: column;
                          gap: 0px;
                        }
                        .building2img img{
                          display: none;
                        width: 50%;
 
                      }
                      .centerdiv h2{
                        line-height: 50px;
                      }
                      .content{
                        padding-top: 70px;
                        gap: 30px;
                        width: 100%;
                      }
                  }