.prodbg {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

.becomeagent h2 {
    color: #1D2939;
    font-size: 60px;
    font-weight: 500;
    line-height: 70px;

}

.becomeagent {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding-right: 60px;
}

.becomeagent p {
    color: #F58220;
    line-height: 70px;
    font-size: 30px;
    font-weight: 400;
}

.becomeagent span {
    color: #475467;
    line-height: 40px;
    font-size: 20px;
    font-weight: 300;
}
.top{
    padding: 28px 0px 0px 0px;
}
.grid{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
        gap: 70px;
        padding: 120px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}
.content h3{
    color: #1D2939;
    line-height: 38px;
    font-size: 25px;
    font-weight: 500;
} 
.content p{
    color: #475467;
    line-height: 28px;
    font-size: 16px;
    font-weight: 300;
}
.secfoot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEEF1;
    padding: 80px 0px 80px 0px;
    gap: 20px;
}
.secfoot p{
    color: #F58220;
    line-height: 40px;
    letter-spacing: -2%;
    font-size: 30px;
    font-weight: 500;
}
.secfoot span{
    color: #101828;
    letter-spacing: -2%;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
}
.secfoot h2{
    color: #1D2939;
    line-height: 40px;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2%;
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
}
.download img{
    width: 170px;
}
.corporate h2{
    color: #F58220;
    font-weight: 500;
    font-size: 65px;
    line-height: 70px;
}
.corporate{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.caro{
    display: flex;
    justify-content: center;
    padding: 100px 120px 100px 120px;
    align-items: center;
    overflow: hidden;
    gap: 170px;
}
.caroimg img{
    width: 80%;
    height: 80%;
}
.btn{
    display: flex;
    cursor: pointer;
    gap: 20px;
}

@media screen and (min-width:2061px) {
    .becomeagent span {
            font-size: 35px;
        }
        .becomeagent h2{
            font-size: 85px;
            width: 50%;
            line-height: 100px;
        }
    .content h3{
        font-size: 35px;
    }
    .content p{
        font-size: 27px;
    }
    .caro{
        justify-content: center;
            padding: 100px 0px 100px 0px;
    }
    .corporate h2{
        font-size: 65px;
    }
}
@media screen and (min-width:1400px) {
    .caroimg img{
        width: 70%;
        height: 70%;
    }

}

@media screen and (max-width:1149px) {

  .corporate h2{
    font-size: 40px;
    line-height: 50px;
  }
  .caro{
        overflow: hidden;
            padding: 50px 120px 50px 120px;
  }
  .grid{
            padding: 120px 120px 0px 120px;
  }
}
@media screen and (max-width:1081px) {

    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:951px) {
  .grid{
            padding: 40px;
  }
          .caroimg img {
              width: 100%;
              height: 100%;
          }
          .corporate h2{
            font-size: 30px;
            line-height: 50px;
          }
          .corporate{
            gap: 20px;
          }
}
@media screen and (max-width:730px) {

}
@media screen and (max-width:857px) {
   /* .caro img{
    width: 60%;
   } */
   /* .caro{
    gap: 100px;
        padding: 50px 70px 0px 20px;
   } */
   .caro{
    flex-direction: column;
   }
   

}
@media screen and (max-width:730px) {

}
@media screen and (max-width:679px) {
    .caro{
        display: flex;
        flex-direction: column;
            gap: 0px;
    }
          .caro img {
              width: 70%;
          }
          .corporate{
            gap: 20px;
          }
          .caro img{
            width: 100%;
          }
}
  @media screen and (max-width:806px) {
      .agentt img {
          width: 70%;
          height: 70%;
      }

      .agentt {
          display: flex;
          justify-content: center;
      }
  }
@media screen and (max-width:457px) {
    .caro{
        display: flex;
        flex-direction: column;
            gap: 0px;
            padding: 40px 0px 40px 0px;
    }
          .corporate h2{
            font-size: 40px;
            line-height: 60px;
          }
          .corporate{
            gap: 40px;
          }
          .caro img{
            width: 100%;
            display: none;
          }
}

@media screen and (max-width:378px) {
  .download img{
    width: 120px;
  }
}